.product-preview {
  display: flex;
  justify-content: center;
  align-items: center;

  .no-image {
    display: flex;
    flex: 1;
    text-align: center;
    word-break: break-word;
    align-items: center;
    font-style: italic;
    opacity: 0.6;
    padding: 0 0 5px 0;
    max-width: 64px;
  }

  .preview-image {
    display: flex;
    text-align: center;
    align-self: center;
    justify-self: center;

    img {
      width: 64px;
      height: 64px;
      object-fit: cover;
    }

    .rotate-flip-horizontal {
      transform: rotate(180deg) scaleX(-1);
    }

    .flip-horizontal {
      transform: scaleX(-1);
    }
  }
}
