@use '../variables.module.scss' as vars;

.activate-close-animation {
  display: block !important;
  animation-name: animateCloseInfo;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes animateCloseInfo {
  0% {
    display: block;
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    /* stylelint-disable-next-line */
    height: 0 !important;
    right: 10px;
    top: 10px;
    opacity: 0;
    display: none;
  }
}

.tutorial-panel-button {
  position: absolute !important;
  right: 10px;
  font-size: 12px;
  color: vars.$primaryColor;
  z-index: 400;
  background: vars.$whiteBackground;
  height: 40px;
  box-shadow: vars.$boxShadow;
  text-align: center;

  &.tutorial-infopanel-button {
    top: 10px;
    background: vars.$whiteBackground;
  }

  &#tutorial-animatedinfopanel-button {
    top: 50vh;
    right: 50vw;
    width: 40px;
    display: none;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
  }

  i {
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    cursor: pointer;
  }

  a {
    color: vars.$primaryColor;
    background: none;
    display: inline-block;
    width: 40px;
    text-align: center;
  }

  a.disabled {
    opacity: 0.5;
  }
}

.content-div-style {
  text-align: left;
  max-height: 60vh;
  overflow-y: auto;
  padding: 0 4px;

  &.first-step {
    text-align: center;
    padding-bottom: 40px;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .link {
    text-decoration: underline;
    color: vars.$primaryColor;
    cursor: pointer;
    padding: 5px;
  }

  p,
  li {
    img {
      width: 25px;
      box-shadow: vars.$boxShadow;
      vertical-align: middle;
    }

    span {
      padding: 4px 6px;
      box-shadow: vars.$boxShadow;
      cursor: default;

      &.icon {
        color: vars.$primaryColor;
        background-color: vars.$whiteBackground;
        white-space: nowrap;

        &.inverted {
          color: vars.$whiteColor;
          background-color: vars.$primaryColor;
        }

        &.large-padding {
          padding: 4px 10px;
        }
      }

      &.active-icon {
        color: vars.$secondaryColor;
        background-color: vars.$primaryColor;
        white-space: nowrap;
      }
    }
  }
}

.tutorial-wrap {
  background-color: vars.$tutorialBackgroundColor;
  border-radius: 5px;
  box-sizing: border-box;
  color: vars.$tutorialTextColor;
  font-size: 16px;
  max-width: 100%;
  padding: 15px;
  position: relative;
  width: 800px;
  max-height: 80vh;

  .tutorial-body {
    line-height: 1.4;
    text-align: center;

    a {
      color: vars.$primaryColor;
      cursor: pointer;
    }

    .close-cross {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      cursor: pointer;
      line-height: 1;
      padding: 15px;
      -webkit-appearance: none;
      position: absolute;
      right: 0;
      top: 0;
    }

    .tutorial-title {
      font-size: 20px;
      margin: 0 0 10px;

      p {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;

        img {
          box-shadow: vars.$boxShadow;
        }
      }
    }

    .content-wrapper {
      padding: 0 10px;

      .logo {
        display: flex;
      }
    }

    .tutorial-footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      padding: 0 10px;

      .tutorial-button {
        background-color: vars.$primaryColor;
        border: 0;
        border-radius: 4px;
        color: vars.$whiteColor;
        cursor: pointer;
        line-height: 1;
        padding: 8px;
        -webkit-appearance: none;
        font-size: 14px;
        margin: 2px;

        &.step {
          color: vars.$whiteColor;
          outline-color: transparent;
          width: 60px;
          padding: 7px;
          margin: 2px 4px;

          i {
            font-size: 18px;
          }
        }

        &:disabled {
          background-color: vars.$primaryColor;
          opacity: 0.5;
          cursor: default;
        }
      }

      .tutorial-closebutton {
        margin: 2px 8px 2px 0;
        padding-left: 30px;
        padding-right: 30px;
        color: vars.$primaryColor;
        background: vars.$tutorialBackgroundColor;
        border: 1px solid vars.$primaryColor;
      }

      .tutorial-buttons {
        display: flex;
        align-items: center;

        .tutorial-page-index {
          opacity: 0.5;
          margin-right: 8px;
          font-size: 0.9rem;
        }
      }
    }
  }
}
