REACT_APP_MAPTILER_KEY= 
REACT_APP_MAPTILER_MAP_ID_BORDERS= 
REACT_APP_MAPTILER_MAP_ID_ROADS= 
REACT_APP_MAPTILER_MAP_ID_CONTOUR= 
REACT_APP_MAPTILER_MAP_ID_WATER=
REACT_APP_MAPBOX_KEY= 
REACT_APP_CARTO_KEY= 
 
REACT_APP_SH_SERVICES_URL=
REACT_APP_AUTH_BASEURL= 
REACT_APP_CLIENTID= 
REACT_APP_ROOT_URL= 
 
# anonymous maps from Sentinel Hub: 
REACT_APP_ANONYMOUS_AUTH_CLIENT_ID=<your sentinelhub client id for anon authentication> 
REACT_APP_CAPTCHA_SITE_KEY=<google captcha site key> 
 
# used by location search functionality: 
REACT_APP_GOOGLE_TOKEN= 
 
REACT_APP_EOB_BACKEND= 
REACT_APP_FIREBASE_API_KEY= 

REACT_APP_CDAS_ODATA_SEARCH_URL= 
REACT_APP_FINGERPRINT_API_KEY=
REACT_APP_ANON_AUTH_FINGERPRINT_URL=

#used to update configurations cache and previews
APP_ADMIN_CLIENT_ID=
APP_ADMIN_CLIENT_SECRET=
APP_ADMIN_AUTH_BASEURL=