# mandatory
VITE_ROOT_URL=http://localhost:3000/
VITE_AUTH_BASEURL=
VITE_REALM=
VITE_CLIENTID=
VITE_SH_SERVICES_URL=https://sh.dataspace.copernicus.eu

VITE_CAPTCHA_SITE_KEY=
VITE_ANON_AUTH_SERVICE_URL=

#optional

# backend for pins and timelapses
VITE_CDSE_BACKEND=

# google location search and satellite basemap
VITE_GOOGLE_TOKEN=

# OData search and download
VITE_CDAS_ODATA_SEARCH_URL=https://catalogue.dataspace.copernicus.eu/odata/v1/
VITE_CDAS_ODATA_DOWNLOAD_URL=https://zipper.dataspace.copernicus.eu/odata/v1/

# encryption
VITE_CDAS_ENCRYPT_SECRET=

# Rapid Response Desk
VITE_RRD_BASE_URL=

# optional, for maintenance
#  updating configurations cache and preview images
APP_ADMIN_CLIENT_ID=
APP_ADMIN_CLIENT_SECRET=
APP_ADMIN_AUTH_BASEURL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token

# e2e
E2E_SSO_USERNAME=
E2E_SSO_PASSWORD=