{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["html"],
  "rules": {
    "curly": ["error", "all"]
  }
}
