# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
/build
/deploy
.env*
.npm
.gitlab
.DS_Store
.idea
.vscode

scripts/*.csv
scripts/*.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.github

/scripts/clms*.json
