@import '../../variables.module.scss';

.copernicus-button {
  user-select: none;
  height: 33px;
  min-width: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.primary {
    background-color: $whiteBackground;
    color: $primaryColor;
    border: 1px solid $primaryColor;

    &:hover:not(.disabled) {
      color: $whiteColor;
      background-color: $primaryColor;
    }
  }

  &.danger {
    background-color: $errorCol;
    color: $whiteColor;

    &:hover:not(.disabled) {
      background-color: $hoverError;
    }
  }

  &.success {
    background-color: $secondaryColor;
    color: $whiteColor;

    &:hover:not(.disabled) {
      background-color: $hoverSecondaryColor;
    }
  }

  &.text {
    background-color: transparent;
    color: $primaryColor;
  }

  &.rounded {
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .label {
    font-size: 13.8px;
    font-weight: 700;
    font-family: $fontFamily;
  }

  &:has(.icon) {
    &.rounded {
      border-radius: 50%;
    }

    min-width: 33px;
  }

  &.disabled {
    opacity: $disabled;
    cursor: auto;
  }
}
