@use '../../../variables.module.scss' as vars;

.product-info-modal {
  .rodal-dialog {
    bottom: auto;
    min-width: 80vw;
    top: 5vh;
    overflow: auto;

    @media screen and (max-width: vars.$breakpoint-400) {
      bottom: 0;
      top: 0;
      min-width: 95%;

      .product-info {
        max-height: 95%;
      }
    }
  }
}

.product-info-title {
  font-weight: vars.$fontWeightBold;
  font-size: 16px;
  text-transform: uppercase;
  color: vars.$primaryColor;
  margin: 0;
}

.product-info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: vars.$textColor;
  margin-top: 10px;
  max-height: 80vh;
  font-size: 13px;

  .main {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .product-info-content {
      display: flex;
      flex-direction: row;
      gap: 10px;

      &.workflow {
        margin-right: 10px;
      }

      .section-group {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: vars.$mainMedium;
        position: relative;

        h3 {
          color: vars.$primaryColor;
          text-transform: uppercase;
        }

        .section {
          background-color: vars.$mainDark;
          margin: 2px 0;

          .title,
          .title-arrow-wrapper {
            background-color: vars.$mainDark;
          }

          .content {
            display: flex;
            flex-direction: column;
          }

          .error-message {
            padding: 10px 5px;
          }

          &.collapsible-panel {
            box-shadow: none;

            .title-content {
              color: vars.$textColor;
            }

            .title {
              font-size: 14px;
              padding: 5px 10px;

              &.expanded {
                .title-content {
                  color: vars.$primaryColor;
                }
              }
            }

            .title-arrow-wrapper {
              box-shadow: none;
            }

            .content {
              padding: 0 5px;

              > * {
                margin: 0;
              }
            }
          }
        }

        &.footprint {
          display: flex;
          padding-bottom: 13px;
        }

        &.preview {
          padding-bottom: 14px;
        }
      }

      .attributes-workflows {
        width: 67%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .row {
          display: flex;
          align-items: center;
        }

        .left {
          font-weight: vars.$fontWeightBold;
          min-width: 150px;
          width: 150px;
          word-wrap: anywhere;
        }

        .right {
          word-wrap: anywhere;
        }

        .attribute {
          padding: 5px;
        }

        .attributes {
          background-color: vars.$mainMedium;
        }
      }

      .previews {
        width: 33%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .preview-image {
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: center;

          img {
            width: 100%;
            max-width: 250px;
            max-height: 300px;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .workflow-section {
        .workflows {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;

          .workflow-details {
            flex: 1;
            background-color: vars.$mainDark;
            width: calc(100% - 20px);
            padding: 10px;

            h4,
            p {
              margin: 0 0 5px 0;

              span {
                font-weight: vars.$fontWeightBold;
              }
            }

            h4 {
              font-size: 14px;
            }

            p:last-child {
              margin-bottom: 0;
            }
          }
        }

        .process-btn {
          position: absolute;
          right: 10px;
          top: 10px;

          &.disabled {
            cursor: pointer;
          }
        }
      }
    }

    @media screen and (max-width: vars.$breakpoint-768) {
      .product-info-content {
        flex-direction: column;

        .attributes-workflows {
          width: unset;
        }

        .previews {
          width: unset;
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0 0;

    .product-link {
      padding: 8px 0;

      label {
        font-weight: vars.$fontWeightBold;
        color: vars.$textColor;
        font-size: 13px;
        display: block;
      }

      &-title {
        display: flex;
        align-items: center;
        height: 24px;
      }

      &-content {
        display: flex;
        align-items: center;
        gap: 8px;

        @media (max-width: vars.$breakpoint-500) {
          flex-wrap: wrap;
        }
      }

      &-url {
        flex: 1;
        padding: 2px 4px;
        font-size: 12px;
        word-break: break-all;
        background: white;
        border: 1px solid #ddd;
        border-radius: 3px;
        display: flex;
        align-items: center;

        @media (max-width: vars.$breakpoint-500) {
          display: block;
          max-width: 300px;
          height: 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      i {
        cursor: pointer;
        color: vars.$primaryColor;
      }
    }

    .actions {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      gap: 8px;

      .eob-btn {
        display: flex;
        align-items: center;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    .eob-btn.disabled {
      cursor: pointer;
    }

    @media screen and (max-width: vars.$breakpoint-1300) {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .actions {
        width: 100%;
      }
    }

    @media screen and (max-width: vars.$breakpoint-400) {
      .actions {
        justify-content: center;
      }
    }
  }
}

.product-tooltip {
  .help-tooltip-icon {
    opacity: 0.8;
  }

  .react-tooltip-lite {
    box-shadow: vars.$boxShadow;
  }
}
