@import '../../variables.module.scss';

.image-download {
  color: $textColor;
  background-color: $mainLight;
  font-size: 14px;

  &-header {
    padding: 15px 23px 20px 23px;
    background-color: $primaryColor;
    display: flex;
    justify-content: space-between;
    width: inherit;

    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 25px;
      width: max-content;

      .eob-btn {
        padding-inline: 23px;
      }

      .rodal-close {
        position: relative;
        width: 18px;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;

        &::before,
        &::after {
          border-radius: 0;
          background-color: $mainLight;
        }

        &:hover {
          &::before,
          &::after {
            background-color: $dropdownHoverBackground;
          }
        }
      }
    }
  }

  &-mode-selection {
    display: flex;
    background-color: inherit;

    .eob-btn {
      margin-right: 20px;
      border-radius: 0;
      background-color: inherit;
      border-bottom: 3px solid $primaryColor;
      color: $mainLight;
      padding-bottom: 5px;

      &.selected {
        border-bottom: 3px solid $secondaryColor;
      }

      &:hover {
        box-shadow: none;
        color: $mainDark;
      }

      &.disabled {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  &-content {
    overflow: auto;
    overflow-y: scroll;
    max-height: 70vh;
    padding-inline: 25px;
  }

  .image-download-warning-panel {
    margin: 10px 0 10px auto;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    color: $orangeColor;

    .fa-warning {
      margin-right: 6px;
    }

    div {
      ul {
        display: inline-block;
        text-align: left;
      }
    }
  }

  .image-download-forms {
    .image-download-warning {
      margin: 10px 0 10px auto;
      padding: 0 10px;
      text-align: center;
      font-size: 14px;
      margin-bottom: 5px;
      color: $orangeColor;

      .fa {
        margin-right: 6px;
      }
    }

    .row {
      display: flex;
      margin-bottom: 6px;

      label {
        flex: 0 0 200px;
      }

      .max-width {
        width: 100%;
      }

      .dropdown {
        flex: 1 1;
      }

      .wgs84-resolution {
        .lat-lng {
          padding-left: 15px;
        }
      }
    }

    .form-field {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      margin: 2px 0;
      line-height: 30px;

      label {
        display: flex;
        align-items: center;
        flex: 0 0 33%;
        max-width: 33%;

        i {
          margin-left: 5px;
          color: $textColor;
          cursor: pointer;
        }
      }

      .form-input {
        flex: 0 0 67%;
        max-width: 67%;
        display: flex;
        justify-content: flex-end;

        input {
          background: $mainMedium;

          &[type='number'] {
            width: 60px;
          }
        }
      }

      &.disabled {
        label > div:first-of-type,
        .form-input {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      &:hover {
        label {
          color: $primaryColor;
        }
      }
    }

    input.full-width {
      width: 100%;
      text-align: left;
      padding: 0.5em;
      background: $mainMedium;
      border: 1px solid rgba(34, 36, 38, 0.15);
      color: $textColor;
    }

    input .full-width::placeholder {
      color: #cccbcb;
      opacity: 1;
    }

    .analytical-mode {
      margin-bottom: 10px;
      overflow: hidden;
      transition: all 0.5s;
      transition-property: max-height, padding-bottom;
      padding: 0 10px 0 0;

      .row label {
        flex: 0 0 150px;
      }

      .download-layers {
        display: flex;
        flex-direction: column;
        width: max-content;
        gap: 10px;

        &-columns {
          display: flex;
          flex: 1 1;
          gap: 10px;

          .column {
            float: left;
            width: max-content;

            .layer-title {
              text-decoration: underline;
              line-height: 20px;
            }

            label {
              display: block;
              font-size: 12px;
              white-space: nowrap;
            }
          }
        }

        &-show-more-btn {
          width: max-content;
          align-self: center;
          position: 'relative';
          background-color: $primaryColor;
          color: $mainLight;
          padding: 5px 10px;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: $hoverPrimaryColor;
          }
        }
      }
    }
  }

  .image-download-error-panel {
    margin: 10px 0 10px auto;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;

    .image-download-error-header {
      margin-bottom: 5px;
      color: $orangeColor;

      .fa {
        margin-right: 6px;
      }
    }

    .textarea-wrapper {
      .error-container {
        color: $textColor;
        background-color: $mainLight;
        padding: 5px;
        text-align: left;
        white-space: pre-wrap;
        max-height: 150px;
        overflow-y: auto;
      }
    }
  }

  small {
    .error {
      color: $errorCol;
    }
  }
}
