@import './../../variables.module.scss';

.dialog-box {
  width: 100%;
  height: 100%;
  color: $textColor;
  background-color: $whiteBackground;
  box-shadow: 0 3px 6px 6px rgba(0, 0, 0, 0.1);

  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .title {
      margin-left: 10px;
      flex-grow: 1;
      max-width: 60%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .close-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      padding: 5px;
      font-size: 1rem;
      opacity: 0.5;

      &:hover {
        opacity: 1;
        transition: color 0.2s;
      }
    }
  }
}
