@use './../../variables.module.scss' as vars;

.draggable-dialog-box {
  z-index: 9999;
  position: absolute;
  background-color: vars.$mainDark;
  color: vars.$textColor;

  .drag-handle {
    cursor: grab;
  }

  &.dragging {
    .drag-handle {
      cursor: grabbing;
    }
  }
}

.draggable-dialog-box-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
}
