@use '../../../variables.module.scss' as vars;

.browse-product-modal {
  .rodal-dialog {
    top: 20vh;
    bottom: auto;
  }

  .loader {
    min-height: 100px;
  }

  .error {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      padding: 5px;
    }
  }
}

.browse-product-title {
  font-weight: vars.$fontWeightBold;
  font-size: 16px;
  text-transform: uppercase;
  color: vars.$primaryColor;
  margin: 0;
}

.browse-product {
  display: flex;
  flex-flow: column;
  color: vars.$textColor;
  margin-top: 10px;

  .browse-product-content {
    display: flex;
    flex-direction: column;

    .file-tree {
      padding: 0;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;

    .eob-btn.disabled {
      cursor: pointer;
    }
  }
}
