.floating-tooltip-content {
  padding: 5px;
}

.help-tooltip {
  .help-tooltip-icon {
    vertical-align: middle;
    opacity: 0.5;
    font-size: 12px;
    cursor: pointer;
  }

  .help-tooltip-icon:hover {
    opacity: 1;
  }
  /* stylelint-disable */
  &.padOnLeft {
    padding-left: 5px;
  }

  &.padOnRight {
    padding-right: 5px;
  }
  /* stylelint-enable */
}
