@import '../../../variables.module.scss';

.message-panel {
  background-color: $mainLight;
  overflow-y: auto;

  .message-panel-header {
    color: $orangeColor;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    .close-message-panel {
      cursor: pointer;
      position: absolute;
      right: 10px;
    }
  }

  .message-panel-messages {
    & > :not(:last-child) {
      border-bottom: 3px dashed $mainLight;
    }

    .message-content {
      white-space: pre-line;
    }

    .notification {
      color: $textColor;

      &.notification-error-themes {
        min-height: 130px;
        overflow-y: auto;
        padding-top: 0;
      }

      a {
        margin: 5px;
      }
    }

    .visualization-error-panel {
      margin: 10px 0 10px auto;
      padding: 0 10px;
      text-align: center;
      font-size: 14px;

      .visualization-error-header {
        margin-bottom: 5px;

        .fa {
          margin-right: 6px;
        }
      }

      .textarea-wrapper {
        .error-container {
          color: $textColor;
          background-color: $mainLight;
          padding: 5px;
          text-align: left;
          white-space: pre-wrap;
          max-height: 50vh;
          overflow-y: auto;
        }
      }
    }

    .message-panel-logout {
      padding: 5px;
      color: $primaryColor;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
