@import '../../../variables.module.scss';

@keyframes fly-to-top {
  10% {
    top: 150px;
    right: 70%;
    width: 348px;
  }

  30% {
    top: 120px;
    right: 60%;
    width: 324px;
  }

  60% {
    top: 75px;
    right: 40%;
    width: 288px;
  }

  100% {
    top: 10px;
    right: 160px;
    width: 240px;
  }
}

@keyframes change-icon-color {
  from {
    background-color: $blueColor;
  }

  to {
    background-color: $mainDark;
  }
}

@keyframes change-input-background-color {
  from {
    background-color: $mainDark;
  }

  to {
    background-color: $mainMedium;
  }
}

.smart-panel {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $mainLight;

  .smart-panel-action {
    position: relative;
    padding: 15px;
    border: 2px solid $blueColor;

    .message {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 16px;
    }

    .smart-panel-action-btn {
      background-color: $blueColor;
      color: $textColor;
      padding: 8px 50px;
      margin-right: 10px;
    }

    .btn-loader-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .loader {
        height: initial;
      }
    }

    &.zoom-in-action {
      height: 70px;

      @media (max-width: 416px) {
        height: 95px;
      }
    }

    &.no-data-found-action {
      .no-data-found-action-btn {
        width: 70%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 5px;
        text-align: center;

        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }

      .available-collections-btn {
        background: $mainDark;
        color: $textColor;
        font-size: 14px;
        font-weight: $fontWeightNormal;
        margin: 0 5px 5px 0;
        display: inline-block;

        &:hover {
          background: $primaryColor;
        }

        &.disabled {
          opacity: 0.5;
          pointer-events: none;

          &:hover {
            background: $mainDark;
          }
        }
      }

      .loader {
        height: unset;
      }
    }
  }
}

.blue-triangle-topright {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 30px solid $blueColor;
  border-left: 30px solid transparent;
}

.smart-panel-search-bar {
  position: fixed;
  right: unset;
  top: 165px;
  margin-left: 15px;
  background-color: unset;
  box-shadow: unset;
  z-index: 500;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 40px;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 15px;
  border: 0;
  border-radius: 0;
  color: white;
  width: 360px;

  @media (max-width: 416px) {
    width: inherit;
    top: 195px;
  }

  .icon-search {
    background-color: $blueColor;
  }

  .location-search-box {
    width: 100%;
    justify-content: flex-start;

    @media (max-width: $toolsWidth) {
      width: 90%;
    }

    @media screen and (max-width: 700px) {
      flex-direction: row;
    }

    .autocomplete {
      width: 100%;

      input {
        width: 100%;
        padding: 10px 4px;
        background-color: $mainLight;
        min-width: 250px;
      }

      #powered-by-google-img,
      .search-item {
        background-color: $mainLight;
      }
    }
  }

  &.position-with-3d {
    right: unset;
  }

  &.fly-to-top {
    @media only screen and (min-width: 1000px) {
      .location-search-box {
        width: unset;

        .autocomplete {
          width: unset;

          input {
            width: unset;
            background-color: unset;
            min-width: unset;
            animation: change-input-background-color linear 2s forwards;
          }
        }
      }

      animation: fly-to-top linear 2s forwards;

      .icon-search {
        animation: change-icon-color linear 2s forwards;
      }
    }
  }
}
