@import '../../../variables.module.scss';

#theme-select {
  margin: 0;

  &.top {
    padding: 0 11px 11px 11px;
    position: relative;
  }

  &.blue-border {
    border: 2px solid $blueColor;
  }

  .no-theme-message {
    font-weight: $fontWeightBold;
    margin-bottom: 10px;
  }

  .theme-select-highlights-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .theme-label-select-wrapper {
      display: flex;
      flex-direction: column;
      max-width: 50%;
      gap: 16px;
      flex-grow: 1;
      font-size: 14px;
    }

    .fas.fa-times {
      color: $textColor;
      cursor: pointer;
      font-size: 18px;
    }

    .highlights-button {
      text-decoration: underline;

      &:hover {
        box-shadow: none;
        color: $primaryColor;
      }
    }

    .show-highlights-button {
      white-space: nowrap;
      margin-left: 15px;
      background-color: $mainMedium;
      color: $textColor;
      font-weight: $fontWeightNormal;
      padding-right: 0;
      font-size: 14px;

      &.disabled-highlights {
        pointer-events: none;
        color: $textColorGray;
        opacity: 0.5;
      }

      &.active {
        color: $primaryColor;
      }
    }
  }
}

.theme-selection {
  /* stylelint-disable */

  .theme-select__single-value {
    color: $primaryColor;
  }

  .theme-select-dropdown {
    .theme-select__menu-portal {
      .theme-select__menu {
        .theme-select__menu-list {
          &::-webkit-scrollbar-track {
            background-color: $mainMedium;
          }
        }
      }
    }
    /* stylelint-enable */

    .dropdown-indicator {
      margin-right: 10px;
    }
  }
}

.theme-select-advanced-wrapper {
  background-color: $mainMedium;

  .theme-select-advanced-title {
    font-weight: $fontWeightBold;
    font-size: 16px;
    color: $textColor;
    padding: 12px;
    text-transform: uppercase;
  }
}

.theme-select-container .title.expanded .title-content {
  justify-content: space-between;

  .title-text {
    text-transform: uppercase;
    line-height: 35px;
  }
}

.highlights-toggle {
  font-size: 12px;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  margin-right: 10px;
  text-decoration: underline;
  box-shadow: 0 0 4px 4px #dddddd40;
  cursor: pointer;

  &.active {
    color: $secondaryColor;
    background-color: $primaryColor;
    box-shadow: none;
  }
}
