@use '../variables.module.scss' as vars;

#map {
  background-color: #fff;
  min-width: 280px;
  min-height: 406px;
  z-index: 0;

  .leaflet-control-container {
    .leaflet-top.leaflet-right {
      .leaflet-control-layers {
        background: vars.$mainLight;
        color: vars.$textColor;
        border-radius: 0;
        border: none;
        margin-right: 60px;
        box-shadow: vars.$boxShadow;

        .leaflet-control-layers-toggle {
          background-image: url(layers.svg);
          border: none;
          width: 40px;
          height: 40px;

          svg {
            fill: vars.$primaryColor;
          }
        }

        .leaflet-retina .leaflet-control-layers-toggle {
          background-image: url(layers2x.png);
        }
      }
    }

    .leaflet-bottom.leaflet-left {
      a:not(.leaflet-control-attribution) {
        div {
          left: 500px;
        }
      }
    }
  }
}

#map.left-align-attribution {
  .leaflet-control-container {
    .leaflet-control-attribution {
      margin-left: 0 !important;
    }
  }
}

#nprogress {
  .bar {
    background: linear-gradient(to right, vars.$primaryColor 0%, vars.$secondaryColor 100%);
    height: 10px;

    .peg {
      display: none;
    }

    .spinner-icon {
      border-top-color: vars.$primaryColor;
      border-left-color: vars.$primaryColor;
    }
  }
}

/* stylelint-disable */
.poi-wrapper > .poiPanel,
.aoi-wrapper > .aoiPanel,
.loi-wrapper > .loiPanel,
.measure-wrapper > .measurePanel,
.timelapse-wrapper > .timelapsePanelButton {
  z-index: 400;
  cursor: pointer;
}

.rodal {
  z-index: 9999;
  font: initial;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
/* stylelint-enable */

.rodal-mask {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.rodal-close {
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
}

.rodal-close::before,
.rodal-close::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #999;
  border-radius: 100%;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.rodal-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rodal-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.rodal-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;
  padding: 15px;
  border-radius: 3px;
  background: vars.$mainDark;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
