@use '../../../../variables.module.scss' as vars;

.collection-tooltip-popup {
  padding: 5px 10px;
  overflow-wrap: anywhere;

  p {
    margin: 5px 0;

    a {
      color: vars.$primaryColor;
    }
  }

  .tooltip-credits {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    a {
      color: vars.$primaryColor;
    }

    div {
      padding-top: 5px;
      padding-right: 6px;
    }

    .tooltip-logo {
      width: 61px;
    }
  }
}

.collection-tooltip {
  .collection-tooltip-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 1px;
    background-color: vars.$mainLight;
    box-shadow: vars.$boxShadow;
    color: vars.$textColor;
    transition: background-color 0.2s ease;
    cursor: pointer;

    i {
      font-size: 11px;
      color: vars.$textColor;
    }

    &:hover {
      background-color: vars.$mainDark;
    }
  }

  &.disabled {
    pointer-events: none;

    .collection-tooltip-icon {
      opacity: 0.15;
      cursor: not-allowed;
    }
  }
}

.hidden-tooltip {
  opacity: 0;
  pointer-events: none;
}
