@use '../../../../variables.module.scss' as vars;

.collection-tooltip {
  .collection-tooltip-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: vars.$mainLight;
    box-shadow: vars.$boxShadow;
    color: vars.$textColor;
    transition: background-color 0.2s ease;
    cursor: pointer;

    i {
      font-size: 11px;
      color: vars.$textColor;
    }

    &:hover {
      background-color: vars.$mainDark;
    }
  }

  .tooltip-credits {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    a {
      color: vars.$primaryColor;
    }

    div {
      padding-top: 5px;
      padding-right: 6px;
    }

    .tooltip-logo {
      width: 61px;
    }
  }

  &.disabled {
    pointer-events: none;

    .collection-tooltip-icon {
      opacity: 0.15;
      cursor: not-allowed;
    }
  }

  .react-tooltip-lite {
    box-shadow: vars.$boxShadow;
    background: vars.$mainMedium;
    color: vars.$textColor;
    border-radius: 5px;
    max-width: 300px !important;
    font-size: 0.8em;
    padding: 5px 10px !important;
    margin-left: 5px;
    word-wrap: anywhere;

    p {
      margin: 5px 0;

      a {
        color: vars.$primaryColor;
      }
    }
  }

  .react-tooltip-lite-up-arrow {
    border-top: 10px solid vars.$mainMedium;
  }

  .react-tooltip-lite-down-arrow {
    border-bottom: 10px solid vars.$mainMedium;
  }

  .react-tooltip-lite-right-arrow {
    border-right: 10px solid vars.$mainMedium;
    margin-left: 5px;
  }

  .react-tooltip-lite-left-arrow {
    border-left: 10px solid vars.$mainMedium;
  }
}

.hidden-tooltip {
  opacity: 0;
  pointer-events: none;
}
