@use '../../variables.module.scss' as vars;

/* stylelint-disable */
.tabs-container {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-flow: column;

  .sentinels-banner-position {
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.tabs-wrapper-workspace {
  display: flex;
  align-items: center;
  box-shadow: vars.$boxShadow;
  z-index: 1;

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 1;
    font-size: 12px;
    padding: 10px;
    color: vars.$primaryColor;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: vars.$dropdownHoverBackground;
    }

    .counter-badge {
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: vars.$primaryColor;
      color: vars.$whiteColor;
      font-size: 10px;
    }
  }
}

.tabs-wrapper {
  background-color: vars.$primaryColor;

  .tab-list {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    margin: 9px 9px 7px 9px;
    padding: 0;
    list-style: none;

    li {
      flex: 1;
      text-align: center;
      list-style: none;
      cursor: pointer;
      color: vars.$whiteColor;
      padding: 9px 9px 7px 9px;
      text-transform: uppercase;
      margin: 2px;

      &:hover {
        background-color: vars.$hoverPrimaryColor;
      }

      @media screen and (max-width: vars.$breakpoint-430) {
        padding: 9px 9px 7px 9px;
      }

      @media screen and (max-width: vars.$breakpoint-400) {
        padding: 9px 9px 7px 9px;
      }

      @media screen and (max-width: vars.$breakpoint-360) {
        font-size: 15px;
      }

      @media screen and (max-width: vars.$breakpoint-340) {
        font-size: 14px;
      }

      &[disabled] {
        color: #aaa;
      }
    }

    .fa-icon {
      font-size: 15px;
      fill: #aaa;
      margin: 0 6px 0 0;

      @media screen and (max-width: vars.$breakpoint-430) {
        display: none;
      }
    }

    & .tab-selected {
      box-shadow: vars.$boxShadowStrong;
      font-weight: vars.$fontWeightBold;
      color: vars.$secondaryColor;

      &:hover {
        background-color: vars.$primaryColor;
      }
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .counter-badge {
      margin-right: 5px;
      padding: 3px 3px;
      border-radius: 15%;
      background: vars.$primaryColor;
      color: vars.$whiteColor;
      font-size: 14px;
    }
  }
}

.box-shadow-divider {
  position: sticky;
  top: 0px;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.tabPanelContainer {
  max-height: 100%;
  overflow-y: scroll;

  > div {
    display: none;
  }

  > div.active {
    display: block;
  }
}

// Active only for mozilla firefox
@-moz-document url-prefix() {
  .tabPanelContainer {
    padding-right: 4px;
  }
}
