/* stylelint-disable */
@use '../../../variables.module.scss' as vars;

.eob-btn {
  background: vars.$secondaryColor;
  border: none;
  color: vars.$whiteColor;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 12px;
  text-decoration: none;

  span {
    vertical-align: middle;
  }

  &.full-size {
    display: block;
    text-align: center;
  }

  i,
  .svg-icon {
    fill: vars.$whiteColor;
    margin-right: 5px;

    &.fa-spinner {
      margin-right: 0;
    }
  }

  &:hover {
    background-color: vars.$hoverSecondaryColor;
  }

  &.secondary {
    background: vars.$mainDark;
    color: vars.$whiteColor;

    &:hover {
      background: rgba(vars.$mainDark, 0.8);
    }
  }

  &.text {
    display: inline-flex;
    background: transparent;
    color: vars.$primaryColor;

    .svg-icon {
      fill: vars.$primaryColor;
    }

    &:hover {
      color: vars.$secondaryColor;

      .svg-icon {
        fill: vars.$secondaryColor;
      }
    }

    &.inactive {
      color: vars.$primaryColor;
      background: transparent;
      opacity: vars.$disabled;

      .svg-icon {
        fill: vars.$primaryColor;
      }
    }
  }

  &.small {
    padding: 6px 10px;
    font-size: 15px;
  }

  &.tiny {
    padding: 2px 4px;
    font-size: 14px;
  }

  &.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.visualize {
    text-align: center;
    padding: 6px 6px;
  }

  &.disabled,
  &[disabled],
  &[disabled]:hover {
    color: vars.$whiteColor;
    background-color: rgba(vars.$color: vars.$primaryColor, vars.$alpha: 0.25);
    cursor: not-allowed;
    box-shadow: none;
  }
}
