@import '../../variables.module.scss';

.effects-panel {
  background-color: $mainLight;
  padding: 12px;
  font-size: 14px;
  margin-bottom: 0 !important;

  .effects-header {
    display: flex;
    justify-content: space-between;
    font-weight: $fontWeightBold;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .effects-footer {
    display: flex;
    justify-content: flex-end;
  }

  .action {
    cursor: pointer;

    &:hover {
      color: $primaryColor;
    }
  }

  .title {
    display: flex;
    color: $textColor;
    font-weight: $fontWeightBold;
    margin: 10px 0 20px;
  }

  hr {
    border-style: solid;
    border-bottom: none;
    margin: 25px 0;
    color: #868fa0;
  }

  .effect-container {
    margin-bottom: 12px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &:last-of-type {
      margin-bottom: 5px;
    }

    &.effect-with-dropdown {
      margin-bottom: 10px;
      margin-top: 32px;

      + .effect-container {
        margin-top: 22px;
      }
    }

    .effect-name {
      color: $textColor;
      font-size: 15px;
      font-weight: $fontWeightNormal;
    }

    .effect-dropdown-select-dropdown {
      text-align: start;
      width: calc(120px + 2 * 36px + 2 * 10px);

      /* stylelint-disable */
      .effect-dropdown-select__single-value {
        font-size: 13px;
        font-weight: $fontWeightNormal;
      }

      .effect-dropdown-select__menu {
        min-width: unset;

        .effect-dropdown-select__menu-list {
          .effect-dropdown-select__option {
            height: 20px;
            line-height: 20px;
            font-size: 13px;
            font-weight: $fontWeightNormal;
            padding: 0 6px;
            
            &--is-disabled {
              background-color: $mainDark;
              color: $textColor;
              cursor: default;
            }
          }
        }
      }
      /* stylelint-enable */

      .dropdown-indicator {
        width: 11px;
        margin-right: 5px;
      }
    }

    .effect-slider {
      .rc-slider {
        width: 120px;
        height: 17px;

        .rc-slider-rail {
          height: 1px;
          background-color: $sliderRailGray;
          margin-top: 6px;
        }

        .rc-slider-track {
          height: 1px;
          background-color: $sliderPrimaryColor;
          margin-top: 6px;
        }

        .rc-slider-handle {
          width: 17px;
          height: 17px;
          margin-top: -2px;
          border: none;
          background-color: $sliderPrimaryColor;

          &:focus,
          &:active {
            box-shadow: 0 0 5px $sliderPrimaryColor;
          }
        }
      }

      .slider-value-input {
        width: 30px;
        height: 22px;
        font-weight: 400;
        text-align: center;
        padding: 0;
        color: $textColor;
        background-color: $mainMedium;
        border: none;

        &,
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          // remove style for number input so it can be only 40px wide
          -webkit-appearance: none;
          -moz-appearance: textfield;
        }

        &.left-value {
          margin-right: 13px;
        }

        &.right-value {
          margin-left: 13px;
        }
      }
    }

    .effect-dropdown {
      display: flex;
      align-items: center;

      select {
        // width of the slider + 2 times label and its margin
        width: calc(120px + 2 * 36px + 2 * 10px);
        color: $textColor;
      }

      .alert {
        padding: 0 5px;
        color: red;
        cursor: default;
        font-weight: bold;
      }
    }
  }

  .rgb-effects-chooser {
    margin-top: 32px;
    margin-bottom: 12px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: $fontWeightBold;

    label {
      color: $textColor;
    }

    .react-toggle {
      vertical-align: middle;
    }
    /* stylelint-disable */
    .react-toggle--checked .react-toggle-track,
    .react-toggle.react-toggle--checked:hover .react-toggle-track {
      background: $primaryColor;
    }

    .react-toggle--focus .react-toggle-thumb {
      box-shadow: 0 0 2px 3px $primaryColor;
    }

    .react-toggle:active .react-toggle-thumb {
      box-shadow: 0 0 5px 5px $primaryColor;
    }

    .react-toggle.react-toggle--focus .react-toggle-thumb {
      box-shadow: 0 0 3px $primaryColor;
    }

    .react-toggle--checked .react-toggle-thumb {
      border-color: $primaryColor;
    }

    .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
      box-shadow: 0 0 2px 2px #fff;
    }

    .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
      background-color: #4d4d4d;
    }

    .react-toggle.react-toggle--checked:hover .react-toggle-track {
      background-color: $primaryColor;
    }
    /* stylelint-enable */
  }

  @media screen and (max-width: $breakpoint-400) {
    .effect-container {
      flex-direction: column;
      padding-bottom: 20px;
      align-items: stretch;

      .effect-name {
        padding-bottom: 5px;
      }

      .effect-slider {
        .rc-slider {
          // 100% - 2 times label and its margin
          width: calc(100% - 2 * 40px - 2 * 15px);

          // add margin for slider with no left value
          &.slider-no-left-value {
            margin-left: calc(40px + 15px);
          }
        }
      }

      .effect-dropdown {
        select {
          width: 100%;
        }
      }
    }
  }
}
