@use '../../variables.module.scss' as vars;

.radio-button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 6px;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  input {
    accent-color: vars.$primaryColor;
    cursor: pointer;
  }
}
