@use '../../variables.module.scss' as vars;

/* stylelint-disable */
.advancedPanel {
  font-size: 14px;

  .grouped-bands-to-rgb {
    button {
      border: none;
      background-color: vars.$mainDark;
      color: vars.$textColor;
      font-size: 14px;
      padding: 3px 25px;
      margin: 20px 15px 0 0;
      border-radius: 5px;
      cursor: pointer;

      &.selected {
        border: 2px solid vars.$primaryColor;
        padding: 1px 23px;
      }
    }
  }

  .toggleBandMode {
    position: relative;
    float: right;
    background: vars.$mainDark;
    width: 72px;
    height: 28px;
    border-radius: 30px;
    padding: 2px;
    cursor: pointer;

    i {
      border-radius: 20px;
      padding: 2px 4px;
      position: absolute;
      left: 8px;
      top: 6px;
      color: vars.$whiteColor;
      font-size: 16px;

      &.script {
        right: 8px;
        left: auto;
      }
    }

    &::before {
      position: absolute;
      left: 4px;
      top: 4px;
      width: 30px;
      height: 25px;
      border-radius: 25px;
      content: '';
      background: vars.$primaryColor;
      transition: all ease 0.4s;
    }

    &.script::before {
      left: 40px;
    }
  }

  header {
    padding: 5px 0 15px;
  }

  .scriptBtnPanel {
    padding: 5px;
    justify-self: center;

    display: flex;
    justify-content: center;

    .eob-btn {
      font-size: 12px;
    }
  }

  .insert-url-block {
    padding: 2px 20px;
  }

  .custom-visualisation-content {
    background-color: vars.$mainLight;

    .evalscript-tooltip-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin: 0.5em 0;
      }
    }

    .custom-visualisation-wrapper {
      padding: 0 10px 10px;

      .radio-button-group {
        margin: 1em 0;
        justify-content: center;
        gap: 24px;

        .radio-button {
          .radio-button-label {
            height: 17px;
            cursor: pointer;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            gap: 6px;

            input {
              width: 17px;
              height: 17px;
            }
          }
        }
      }
    }

    .custom-visualisation-tabs {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 auto;
      margin: 0;
      padding: 0;
      list-style: none;

      .tab-button {
        flex: auto;
        text-align: center;
        list-style: none;
        cursor: pointer;
        color: vars.$textColor;
        height: 35px;
        line-height: 35px;
        background-color: vars.$mainMedium;
      }

      .hidden {
        display: none;
      }

      .active {
        background-color: vars.$mainLight;
      }

      .not-clickable {
        pointer-events: none;
      }
    }
  }
}
