@use '../../../variables.module.scss' as vars;

.collection-button {
  background: vars.$mainDark;
  color: vars.$textColor;
  font-weight: vars.$fontWeightNormal;
  box-shadow: vars.$boxShadow;

  &.primary {
    font-size: 14px;
  }

  &.secondary {
    font-size: 12px;
    background: vars.$mainLight;
    margin: 5px 10px 5px 0;
  }

  &.secondary:hover {
    background: vars.$mainLight;
  }

  &.selected {
    background-color: vars.$primaryColor;
  }

  &.selected:hover {
    background-color: vars.$primaryColor;
  }
}

.collection-button-wrapper {
  margin: 5px;
  display: inline-block;

  &.collections-full-width {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-top: 0;
    border-bottom: 1px dashed vars.$textColor;
  }

  .secondary-collection-button-title {
    color: vars.$textColor;
    padding-bottom: 5px;
    font-size: 14px;
  }
}
