@use '../variables.module.scss' as vars;

.loader {
  height: 100px;
  text-align: center;

  & span {
    position: relative;
    top: 45%;
  }

  &.within-collapse-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(vars.$mainMedium, 0.75);
    width: 100%;
    height: 100%;
    font-size: 32px;

    span {
      top: unset;
    }
  }
}
