@use '../../variables.module.scss' as vars;

.custom-checkbox-container {
  position: relative;

  .custom-checkbox-label {
    float: left;
    clear: both;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    &.label-left {
      flex-direction: row;
    }

    &.label-right {
      flex-direction: row-reverse;

      span {
        padding-right: 15px;
      }
    }

    .custom-checkbox-inner-wrapper {
      position: relative;
      width: 18px;
      height: 18px;

      .custom-checkbox[type='checkbox'] {
        cursor: pointer;
        width: 18px;
        height: 18px;
        margin: 0;
        background-color: vars.$customCheckboxBackgroundColor;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &.white {
          background-color: vars.$whiteColor;
          box-shadow: vars.$boxShadow;
        }

        &:active {
          border: 1px solid vars.$activePrimaryColor;
        }

        &:checked {
          background-color: vars.$primaryColor;
        }

        &:hover:checked {
          background-color: vars.$hoverPrimaryColor;
        }

        &:hover:active:checked {
          border: 1px solid vars.$activePrimaryColor;
          background-color: vars.$activePrimaryColor;
        }

        &.disabled {
          cursor: not-allowed;
          background-color: vars.$sliderRailGray;
          opacity: 0.9;
        }
      }

      .check-mark {
        fill: none;
        stroke: vars.$whiteColor;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .custom-checkbox-text {
      font-weight: vars.$fontWeightNormal;
      margin-left: 5px;
    }

    .custom-checkbox-input {
      position: relative;
    }
  }
}
