@import '../../variables.module.scss';

.custom-checkbox-container {
  position: relative;

  .custom-checkbox-label {
    float: left;
    clear: both;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    .custom-checkbox-inner-wrapper {
      position: relative;
      width: 18px;
      height: 18px;

      .custom-checkbox[type='checkbox'] {
        cursor: pointer;
        width: 18px;
        height: 18px;
        margin: 0;
        background-color: $customCheckboxBackgroundColor;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &.white {
          background-color: $whiteColor;
          box-shadow: $boxShadow;
        }

        &:active {
          border: 1px solid $activePrimaryColor;
        }

        &:checked {
          background-color: $primaryColor;
        }

        &:hover:checked {
          background-color: $hoverPrimaryColor;
        }

        &:hover:active:checked {
          border: 1px solid $activePrimaryColor;
          background-color: $activePrimaryColor;
        }

        &.disabled {
          cursor: not-allowed;
          background-color: $sliderRailGray;
          opacity: 0.9;
        }
      }

      .check-mark {
        fill: none;
        stroke: $whiteColor;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .custom-checkbox-text {
      font-weight: $fontWeightNormal;
      margin-left: 5px;
    }
  }
}
