@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

.controls-wrapper {
  .animated {
    .panelButton { /* stylelint-disable-line */
      transform: translateX(100%);
      animation: slide-in 2s forwards;
    }
  }
}
