@use '../../variables.module.scss' as vars;

.cloud-coverage-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  color: vars.$primaryColor;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;

  .fas.fa-cloud {
    margin-right: 5px;
    color: vars.$iconGrayColor;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.35;
  }
}
