@use '../../variables.module.scss' as vars;

.notification {
  margin: auto;
  max-width: 400px;
  padding: 10px;
  position: relative;
  text-align: center;
  color: vars.$orangeColor;
  font-size: 14px;

  .fa.fa-times {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
  }
}
