@use '../../variables.module.scss' as vars;

.row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  .aoi-label-wrapper {
    display: flex;
    align-items: center;
  }

  .aoi-selection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    min-height: 24px;
    padding-left: 10px;

    .aoi-buttons {
      display: flex;
      align-items: center;
    }

    .aoi-text {
      display: flex;
      align-items: center;
    }

    .area-text {
      line-height: 1;
    }

    i {
      color: vars.$primaryColor;
      padding: 0 4px;
      cursor: pointer;

      &.disabled {
        color: vars.$textColor;
        cursor: not-allowed;
      }
    }
  }

  label {
    font-size: 14px;
    font-weight: 700;
  }

  .react-toggle {
    margin-left: 0;
  }

  a {
    color: vars.$primaryColor;
  }
}
