@use '../../variables.module.scss' as vars;

.progress-bar {
  background-color: vars.$mainMedium;
  display: flex;

  .pb-container {
    width: 100%;
    height: 7px;
    display: flex;
    align-self: center;
    background-color: vars.$mainDark;

    .pb-bar {
      height: 100%;
      width: 0%;
      background-color: vars.$primaryColor;
    }
  }

  .pb-label {
    min-width: 10%;
    padding: 3px 5px;
    text-align: center;
  }

  i {
    align-self: center;
    cursor: pointer;

    &:hover {
      color: vars.$primaryColor;
    }
  }
}
