@use '../../variables.module' as vars;

.tags-outer-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;

  .tags-inner-container {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 3px;
    row-gap: 2px;
  }

  .tag {
    flex-shrink: 0;
    margin: unset;
  }
}
