@use './../../variables.module.scss' as vars;

.histogram-wrapper {
  .histogram-button-wrapper {
    z-index: 400;
    cursor: pointer;
    position: absolute;
    top: 410px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 12px;
    background: vars.$mainLight;
    color: #fff;
    -webkit-box-shadow: vars.$boxShadow;
    box-shadow: vars.$boxShadow;
    text-align: center;

    .histogram-button {
      display: flex;
      flex-direction: column;
      height: inherit;
      width: inherit;

      &.disabled {
        opacity: 0.5;
      }

      i {
        align-self: flex-end;
        font-size: 21px;
        line-height: 40px;
        width: 40px;
        cursor: pointer;
        color: vars.$primaryColor;
      }

      &.active i {
        color: vars.$secondaryColor;
      }
    }
  }
}
