@import '../../variables.module.scss';

.rapid-response-desk {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: $textColor;

  .rapid-response-desk-body {
    overflow-y: auto;

    & > * {
      margin: 5px 1px 5px 5px;
      background-color: $whiteColor;
    }
  }

  .rapid-response-desk-footer {
    position: absolute;
    bottom: 0;
  }

  .section {
    &.inactive {
      .title-content {
        color: $textColor;
      }
    }
  }
}
