@use '../../variables.module.scss' as vars;

#map {
  #about-sh-links {
    position: absolute;
    bottom: 0;
    left: calc(50%);
    transform: translateX(-50%);
    z-index: 1001;
    background: vars.$mainDark;
    color: vars.$primaryColor;
    font-size: 11px;
    text-decoration: none;
    cursor: pointer;

    @media screen and (max-width: 450px) {
      bottom: 30px;
    }

    a {
      padding: 2px 5px;
      display: inline-block;
      vertical-align: middle;
      color: vars.$textColor;

      &:first-child {
        border: none;
      }

      @media screen and (max-width: 450px) {
        color: vars.$textColor;
      }
    }
  }

  @media screen and (max-width: vars.$breakpoint-940) {
    #about-sh-links {
      font-size: 10px;
    }
  }

  @media screen and (max-width: vars.$breakpoint-890) {
    #about-sh-links {
      transform: translateX(0);
      left: 0;
    }
  }
}
