@use '../../variables.module.scss' as vars;

.accordion-wrap {
  border-bottom: 2px solid vars.$mainMedium;
}

.accordion-title {
  align-items: center;
  background-color: vars.$mainLight;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  color: vars.$textColor;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: vars.$mainMedium;
  }

  &.disabled {
    cursor: not-allowed;
    color: #aaa;
  }
}

.accordion-content {
  background-color: vars.$mainLight;
  padding: 8px 12px;
  border-top: none;
}
