@use '../../variables.module.scss' as vars;

.visualization-panel {
  background-color: vars.$whiteColor;
  color: vars.$textColor;

  & > * {
    margin: 5px 1px 5px 5px;
  }

  & > *:first-child {
    margin-top: 0;
  }

  .tab-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;

    &.descriptions-tab-header {
      padding-bottom: 15px;
    }

    .tab-title {
      font-weight: bold;
      font-size: 16px;
    }

    .close-tab {
      margin-right: 2px;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

  .layer-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .preview {
      display: flex;

      img {
        width: 40px;
        height: 40px;
      }
    }

    .preview-custom {
      background-color: #303333;
      color: vars.$whiteColor;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
    }

    .title {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-left: 10px;

      small {
        font-size: 10px;

        @media screen and (max-width: 390px) {
          width: 280px;
          white-space: nowrap;
          overflow-x: clip;
          text-overflow: ellipsis;
        }
      }

      .active-title {
        font-weight: vars.$fontWeightBold;

        @media screen and (max-width: 428px) {
          width: 152px;
          white-space: nowrap;
          overflow-x: clip;
          text-overflow: ellipsis;
        }
      }

      .active-description {
        width: 220px;
        white-space: nowrap;
        overflow-x: clip;
        text-overflow: ellipsis;

        @media screen and (max-width: 423px) {
          width: 150px;
        }
      }
    }

    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 125px;
      margin-right: 10px;
      column-gap: 6px;

      i {
        margin-left: 10px;
        cursor: pointer;
      }

      svg {
        min-width: 21px;
      }

      .plus {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: vars.$whiteColor;

        &:hover {
          color: vars.$secondaryColor;
          cursor: pointer;
        }
      }

      .double-chevron-up {
        path {
          stroke: vars.$whiteColor;
        }
      }

      .double-chevron-down {
        path {
          stroke: vars.$whiteColor;
        }
      }

      .code-icon-wrapper {
        height: 19px;
      }

      .code {
        path {
          fill: vars.$whiteColor;
        }

        &:hover {
          cursor: pointer;

          path {
            fill: vars.$secondaryColor;
          }
        }
      }

      .double-chevron-up,
      .double-chevron-down {
        cursor: pointer;
        width: 15px;
        height: 13px;
        margin-top: 2px;

        &:hover {
          path {
            stroke: vars.$secondaryColor;
          }
        }

        &.disabled {
          pointer-events: none;
          opacity: 0.35;
        }
      }

      .active {
        color: vars.$secondaryColor;
      }
    }
  }

  .header {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid vars.$primaryColor;
    font-family: vars.$fontFamily;
    font-style: normal;
    font-weight: bold;

    .dataset-info {
      display: flex;
      text-align: center;
      padding: 10px;
      align-items: center;

      .title {
        display: flex;
        color: white;
        text-align: left;
        font-size: 15px;

        b {
          color: vars.$textColor;
          text-transform: none;
          padding-top: 5px;
        }

        .dataset-name {
          margin-left: 5px;
          padding-top: 8px;
        }
      }
    }
  }

  .date-selection {
    .visualization-time-select {
      .time-select-type {
        font-weight: bold;
        font-size: 13px;
        text-align: left;
        width: 100%;
      }

      .timespan-picker {
        .timespan-calendar-holder {
          margin-top: 10px;
        }
      }
    }
  }

  .visualization-actions {
    position: sticky;
    bottom: 0;
    font-size: 13px;
    padding: 5px 10px;
    background-color: vars.$mainLight;
    box-shadow: vars.$boxShadow;

    .action-bar {
      justify-content: space-around;
      flex: 1;
      flex-wrap: wrap;
    }
  }

  .layer-selection {
    display: block;
    background-color: vars.$mainLight;
    box-shadow: vars.$boxShadow;
    color: vars.$textColor;
    font-size: 14px;
    padding: 11px;

    .layer-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .eob-btn {
        font-size: 12px;
        margin-bottom: 6px;
      }
    }

    .layer-title {
      font-size: 16px;
      font-weight: vars.$fontWeightBold;
      margin-bottom: 10px;
      text-transform: uppercase;
      color: vars.$primaryColor;
    }

    .layer-container {
      margin-bottom: 5px;
      cursor: pointer;
      background-color: vars.$mainLight;
      box-shadow: vars.$boxShadow;

      &:hover {
        background-color: vars.$mainDark;
      }

      &.active {
        background-color: vars.$primaryColor;
        color: vars.$whiteColor;
        cursor: default;
      }

      .layer-actions {
        padding: 11px 14px;
        color: vars.$whiteColor;

        div {
          font-size: 12px;

          &:hover {
            color: vars.$secondaryColor;
          }
        }
      }

      .layer-details {
        border-bottom: 0;
        color: vars.$textColor;
        background-color: vars.$mainDark;

        .layer-description {
          p:nth-child(2) {
            margin: 5px 0;
          }
        }
      }
    }

    .custom-visualization {
      background-color: vars.$mainLight;

      > * {
        padding: 5px 5px 5px 0;
      }

      .action-bar {
        padding: 5px 12px;
        border-bottom: 2px solid vars.$mainDark;
        background-color: vars.$mainMedium;

        .action-wrapper {
          &:hover {
            color: vars.$primaryColor;
          }
        }
      }

      .accordion-title {
        font-size: 14px;
        font-weight: vars.$fontWeightBold;
      }
    }

    .zoom-notification-footer {
      // This is needed in order to display NotificationPanel properly inside the sidebar
      padding-bottom: 1px;
    }
  }

  .commercial-data-header {
    background: vars.$mainMedium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 12px 5px 12px;
    font-size: 16px;
    font-weight: bold;

    .commercial-data-close {
      cursor: pointer;
    }
  }
}
