@import '../../variables.module.scss';

.action-bar {
  justify-content: space-between;
  display: flex;
  flex: 1;
  flex-direction: row;
  color: $textColor;
  font-size: 13px;
  column-gap: 10px;

  i {
    margin-right: 5px;
  }

  .action-wrapper {
    flex-direction: row;
    padding: 5px 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    overflow: hidden;

    div {
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: underline 1px;
      font-size: 12px;
      font-weight: $fontWeightNormal;
    }

    &:hover {
      color: $primaryColor;
    }

    &.active {
      color: $primaryColor;
    }

    &.disabled {
      cursor: default;
      opacity: 0.3;

      &:hover {
        color: $textColor;
      }
    }
  }
}
