@import '../variables.module.scss';

.anon-frame {
  display: none;
}

.grecaptcha-badge {
  visibility: hidden;
}

.initial-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primaryColor;
}
