@import '../../../../../variables.module.scss';

.additional-filters {
  position: absolute;
  left: $toolsWidth;
  background: $mainLight;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  box-shadow: $boxShadow;
  width: $additionalFiltersPanelWidth;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $primaryColor;
    padding: 5px 10px 5px 12px;
    font-weight: bold;
    color: $whiteColor;

    svg {
      cursor: pointer;
      width: 36px;
      height: 36px;

      circle {
        fill: $hoverPrimaryColor;
      }

      path {
        stroke: $whiteColor;
      }
    }
  }

  .content {
    padding: 10px 12px;
  }

  .footer {
    display: flex;
    justify-content: center;
    padding: 0 0 12px 0;

    span {
      display: flex;
      justify-content: center;
      color: $textColor;
      font-weight: $fontWeightBold;
      text-transform: uppercase;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        color: $primaryColor;
      }
    }
  }
}

.filter-item {
  .title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

    .collection-tooltip-icon {
      width: 18px;
      height: 18px;
      margin: 0 0 1px 5px;
    }

    i {
      font-size: 9px;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 0 12px 0;

    .eob-btn {
      margin: 2px 5px 4px 0;
      padding: 4px 12px;
      font-size: 12px;
      font-weight: normal;
      text-align: center;
      align-self: center;
      background-color: $mainMedium;
      color: $textColor;
      border-radius: 50px;

      &.selected {
        background-color: $primaryColor;
        color: $whiteColor;
        font-weight: bold;
      }
    }

    input {
      border: none;
      background-color: $mainMedium;
      padding: 4px 12px;
      width: 100px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: ($additionalFiltersPanelWidth+$toolsWidth)) {
  .additional-filters {
    top: auto;
    bottom: 12px;
    left: 12px;
    right: 12px;
    z-index: 1;
    width: calc(100% - 24px);
  }
}
